body {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    margin: 1em auto;
    max-width: 40em;
   }

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px; 
    margin-bottom: 20px;
}

.header img.rabbit {
    width: 50px; 
    height: auto;
}

p {
	line-height: 1.555em;
	text-align: justify;
	margin: 0.754em 0 0.754em 0;
	padding: 0 0 0 0;
}

img.computer {
    width: 150px; 
    height: auto;
}

h1 {
    color: #000000;
    font-family: Monaco, monospace;
    font-size: 35px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   }

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
}

.footer-links {
    margin-top: 20px;
    margin-bottom: 20px;
}

A:link { color: #0000ff; }
A:visited { color: #999999; }
A:active { color: #ffffff; }
A:hover { color: #00e000}